# Jetbrains
.idea/
*.xml

### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


# macOS
.DS_Store

# Windows
Thumbs.db

node_modules/
.expo/
.tamagui
expo-env.d.ts

.env
server.log